<div class="flex items-center space-x-4 p-8 bg-gray-100 rounded-md">
  <!-- Photo de l'auteur -->
  <img
    src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.thefamouspeople.com%2Fprofiles%2Fimages%2Fsun-tzu-2.jpg&f=1&nofb=1&ipt=5c5f794258623792fb716bdd200901a4c2fb0f07c733090b73366b30ad31146a&ipo=images"
    alt="Photo de l'auteur"
    class="w-20 h-20 object-cover rounded-full"
  />

  <!-- Informations sur l'auteur -->
  <div class="px-10">
    <h2 class="text-xl font-semibold">{{ author.prenom }} {{ author.nom }}</h2>
    <p class="text-gray-600">Date de naissance: {{ author.dateNaiss }}</p>
    <p class="text-gray-600">Date de mort: {{ author.dateDeces }}</p>
    <p class="text-gray-600">Nationalité: {{ author.nationalite }}</p>
  </div>
  <div class="px-10">
    <h3 class="text-gray-700">Biographie:</h3>
    <p class="text-gray-600">
      {{ author.description }}
    </p>
  </div>
</div>
