<div
  href="#"
  class="p-6 bg-white border border-gray-200 rounded-lg shadow flex flex-row w-full"
>
  <div>
    <img [src]="book.photo_couverture" alt="" class="max-w-56 py-6" />
  </div>
  <div class="p-8 flex flex-col w-full py-10">
    <div class="basis-4/5">
      <div class="flex justify-left items-center">
        @if (bookStatus.avalaible === false) {
        <span class="block w-3 h-3 rounded-full bg-red-500"></span>
        <span class="p-1">Indisponible</span>
        } @else {
        <span class="block w-3 h-3 rounded-full bg-green-500"></span>
        <span class="p-1">Disponible à la réservation</span>
        }
      </div>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        {{ book.titre }}
      </h5>
      <p class="my-3">
        {{ book.resume | slice : 0 : 200 }}...
        <a class="underline" [routerLink]="['/book/', book.livreId]"
          >Lire la suite</a
        >
      </p>
      <p class="font-normal text-gray-700">
        <a class="underline">
          <span *ngIf="book.auteur_id"
            >{{ book.auteur_nom }} {{ book.prenom }}</span
          >
        </a>
        - {{ book.dateSortie | date : "YYYY" }} - 256 pages
      </p>
    </div>
    <div class="basis-1/5 flex justify-end w-full">
      <button
        [routerLink]="['/book/', book.livreId]"
        class="mx-5 border border-blue-700 text-blue-700 py-3 px-8 w-fit h-fit transition-all hover:bg-blue-700 hover:text-white"
      >
        Voir les détails
      </button>

      @if (bookStatus.reservedByUser === true ) {
      <button
        (click)="cancelReservation()"
        class="bg-red-700 text-white py-3 px-8 w-fit h-fit transition-all hover:bg-red-900"
      >
        Annuler la réservation
      </button>
      } @else {
      <button
        class="bg-blue-700 text-white py-3 px-8 w-fit h-fit transition-all hover:bg-blue-900 disabled:opacity-50 disabled:cursor-not-allowed"
        [disabled]="
          bookStatus.avalaible === false ||
          bookStatus.reserved ||
          bookStatus.borrowed
        "
        (click)="reserveBook()"
      >
        Réserver
      </button>
      }
    </div>
  </div>
</div>
