<div href="#" class="block max-w-sm bg-white border rounded-sm">
  <div class="flex justify-center py-4">
    <img [src]="photoCouverture" alt="" class="max-w-40" />
  </div>
  <div class="flex flex-col px-3 pt-2">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
      {{ title }}
    </h5>
  </div>
  <div class="flex flex-col w-full px-2">
    <p>
      Réservé depuis le :
      <span class="text-gray-400">{{ dateResa | date : "yy/MM/dd" }}</span>
    </p>
    <p>{{ getExpirationDate(dateResa) }} jours restants</p>
  </div>
  <div class="flex flex-col justify-center mt-6 gap-2 p-3">
    <button
      [routerLink]="['/book/', id]"
      class="border w-full border-blue-700 text-blue-700 py-2 px-3 h-fit transition-all hover:bg-blue-700 hover:text-white"
    >
      Voir les détails
    </button>
    @if (bookStatus.reservedByUser === true ) {
    <button
      (click)="cancelReservation()"
      class="bg-red-700 text-white py-3 px-8 w-full h-fit transition-all hover:bg-red-900"
    >
      Annuler la réservation
    </button>
    } @else {
    <button
      (click)="reserveBook()"
      class="bg-blue-700 text-white py-3 px-8 w-full h-fit transition-all hover:bg-blue-900 disabled:opacity-50 disabled:cursor-not-allowed"
      [disabled]="
        bookStatus.avalaible === false ||
        bookStatus.reserved ||
        bookStatus.borrowed
      "
    >
      Re-réserver
    </button>
    }
  </div>
</div>
