<!-- Bannière de recherche -->
<div>
  <div
    class="relative bg-cover bg-center h-64 md:h-96"
    style="
      background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.ladepeche.fr%2Fapi%2Fv1%2Fimages%2Fview%2F5c37c8743e454675ab438947%2Flarge%2Fimage.jpg&f=1&nofb=1&ipt=6511e580f7c1deff061e626190958c21d76ab090ab172fffcef1fe80e50357d5&ipo=images');
    "
  >
    <div class="absolute inset-0 bg-black opacity-50"></div>

    <!-- Contenu au milieu de la bannière -->
    <div class="absolute inset-0 flex items-center justify-center">
      <!-- Barre de recherche -->
      <div class="bg-white rounded-md shadow-md flex">
        <input
          type="text"
          class="w-full pl-10 pr-20 py-6 rounded-md"
          placeholder="Rechercher..."
          [(ngModel)]="searchBarValue"
        />
        <button
          (click)="launchSearch()"
          class="py-3 px-8 rounded-r-md text-white bg-[#7e9164] hover:bg-[#515e41] transition-all"
        >
          Rechercher
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<section class="flex justify-center" *ngIf="!isSearchLaunched">
  <p class="my-20">
    Effectuez une recherche parmis les livres de la bibliothèque
  </p>
</section>
<section class="flex p-28 gap-5" *ngIf="isSearchLaunched">
  <div class="flex basis-1/4 flex-col w-90">
    <h3 class="text-2xl">Filtres</h3>
    <form [formGroup]="rechercheForm" (ngSubmit)="launchSearch()">
      <!-- Titre -->
      <div class="mt-2">
        <label for="titre" class="block text-sm font-medium text-gray-700"
          >Titre :</label
        >
        <input
          type="text"
          id="titre"
          formControlName="titre"
          class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          placeholder="Titre du livre"
          [(ngModel)]="searchBarValue"
        />
      </div>

      <!-- Auteur -->
      <div class="mt-2">
        <label for="auteur" class="block text-sm font-medium text-gray-700"
          >Auteur :</label
        >
        <select
          id="auteur"
          formControlName="auteur"
          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        >
          <option value="">Sélectionnez un auteur</option>
          <option *ngFor="let a of auteurs" [value]="a">{{ a }}</option>
        </select>
      </div>

      <!-- Catégories -->
      <div class="mt-2">
        <label for="categorie" class="block text-sm font-medium text-gray-700"
          >Catégorie :</label
        >
        <select
          id="categorie"
          formControlName="categorie"
          class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        >
          <option value="">Sélectionnez une catégorie</option>
          <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
        </select>
      </div>

      <!-- Date Min -->
      <div class="mt-2">
        <label for="dateMin" class="block text-sm font-medium text-gray-700"
          >Date Min :</label
        >
        <input
          type="number"
          id="dateMin"
          formControlName="dateMin"
          class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
      </div>

      <!-- Date Max -->
      <div class="mt-2">
        <label for="dateMax" class="block text-sm font-medium text-gray-700"
          >Date Max :</label
        >
        <input
          type="number"
          id="dateMax"
          formControlName="dateMax"
          class="mt-1 block w-full px-2 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
      </div>

      <!-- Button submit -->
      <div class="flex justify-center">
        <button
          type="submit"
          (click)="launchSearch()"
          class="bg-blue-500 px-8 py-3 mt-3 text-white font-semibold"
        >
          Rechercher
        </button>
      </div>
    </form>
  </div>
  <div class="flex flex-col basis-3/4">
    <h2 class="text-4xl font-bold">Résultats de la recherche</h2>
    <h2 class="text-2xl">pour " {{ searchBarValue }}"</h2>
    <!-- Pagination and result numbers -->
    <div class="flex py-6">
      <div class="flex basis-1/4">
        <p>Nombre de livres : 123</p>
      </div>
      <div class="flex basis-3/4">
        <nav aria-label="Page navigation example">
          <ul class="inline-flex -space-x-px text-sm">
            <li>
              <a
                href="#"
                class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700"
                >Précédent</a
              >
            </li>
            <li>
              <a
                href="#"
                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                >1</a
              >
            </li>

            <li>
              <a
                href="#"
                class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700"
                >Suivant</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Results -->
    <div class="flex flex-col">
      <app-book-search-card class="w-full"></app-book-search-card>

      <!-- Aucun résultat -->
      <div class="w-full text-center py-20">
        <h3 class="text-2xl">Aucun résultat</h3>
        <span class="text-gray-400 italic">Essayez de changer les filtres</span>
      </div>
    </div>
  </div>
</section>
